# Cấu hình dùng chung
DB_HOST=postgres_db
DB_PORT=5432

# Dịch vụ User
USER_DB_NAME=user_db
USER_DB_USERNAME=admin
USER_DB_PASSWORD=********
USER_SERVER_PORT=8081

# Dịch vụ Restaurant
RESTAURANT_DB_NAME=restaurant_db
RESTAURANT_DB_USERNAME=admin
RESTAURANT_DB_PASSWORD=********
RESTAURANT_SERVER_PORT=8082

# Dịch vụ Order
ORDER_DB_NAME=order_db
ORDER_DB_USERNAME=admin
ORDER_DB_PASSWORD=********
ORDER_SERVER_PORT=8083

# Dịch vụ Notification
NOTIFICATION_DB_NAME=notification_db
NOTIFICATION_DB_USERNAME=admin
NOTIFICATION_DB_PASSWORD=********
NOTIFICATION_SERVER_PORT=8084
